<?xml version="1.0" encoding="utf-8" ?>
<Config>
	<General>
		<CheckTime>172800000</CheckTime>
		<AvidWFE_Url>http://10.2.68.187:9900/WorkflowEngineWS_1/WFE.asmx</AvidWFE_Url>
		<AvidWFE_AcceptEncoding>gzip,deflate</AvidWFE_AcceptEncoding>
		<AvidWFE_ContentType>text/xml;charset=UTF8</AvidWFE_ContentType>
                <SOAPFilter SearchTag="workflowEngine_GetWorkflowsResult" SearchTagChild="WorkflowInfo" TagPrefix="SOAPFilter" />
                <SOAPNames SearchTag="workflowEngine_GetVariableNameArrayListFromJobIDResponse" SearchTagChild="workflowEngine_GetVariableNameArrayListFromJobIDResult" TagPrefix="SOAPData" />
                <SOAPValues SearchTag="workflowEngine_GetVariableValueArrayListFromJobIDResponse" SearchTagChild="workflowEngine_GetVariableValueArrayListFromJobIDResult" TagPrefix="SOAPData" />
	</General>
	<Action>
		<SOAPFilter action="http://www.blue-order.com/ma/workflowenginews/wfe/workflowEngine_GetWorkflows">
			<![CDATA[
				<wfe:workflowEngine_GetWorkflows>
					<wfe:type>TVC_IMPORT_VIDEO_PreProcess</wfe:type>
					<wfe:status>4</wfe:status>
 					<wfe:maxHits>10</wfe:maxHits>
				</wfe:workflowEngine_GetWorkflows>
			]]>
		</SOAPFilter>
		<SOAPNames action="http://www.blue-order.com/ma/workflowenginews/wfe/workflowEngine_GetVariableNameArrayListFromJobID">
			<![CDATA[
			  <wfe:workflowEngine_GetVariableNameArrayListFromJobID>
				 <wfe:jobID>{SOAPFilter_id}</wfe:jobID>
			  </wfe:workflowEngine_GetVariableNameArrayListFromJobID>
			]]>
		</SOAPNames>
		<SOAPValues action="http://www.blue-order.com/ma/workflowenginews/wfe/workflowEngine_GetVariableValueArrayListFromJobID">
			<![CDATA[
			  <wfe:workflowEngine_GetVariableValueArrayListFromJobID>
				 <wfe:jobID>{SOAPFilter_id}</wfe:jobID>
			  </wfe:workflowEngine_GetVariableValueArrayListFromJobID>
			]]>
		</SOAPValues>
	</Action>
</Config>